.mymessage {
  color: blue;
}

.strangermessage {
  color: red;
}

.announcement {
  padding: 5px 2px;
  font-weight: bold;
  clear: left;
}

.announcement > * {
  float: left;
}

.message {
  padding-left: 10px;
  font-weight: normal;
}

#chatwindow {
  width: 100%;
  height: 80%;
  border: 1px solid;
  font-family: Arial, sans-serif;
}

#controls {
  padding-top: 20px;
  width: 100%;
  height: 20%;
}

#controls > * {
  float: left;
  height: 50%;
}