[submodule "vendor/Socket.IO-node"]
	path = vendor/Socket.IO-node
	url = git://github.com/LearnBoost/socket.io-node.git

[submodule "client/Socket.IO"]
	path = client/Socket.IO
	url = git://github.com/LearnBoost/socket.io.git
